<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>NICE</title>
  <script type="module" th:src="@{/dist/config.js}"></script>
  <link rel="stylesheet" th:href="@{/lib/tmpl/dist/css/adminlte.min.css}"/>
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <header th:replace="fragments/header :: headerFragment"></header>

  <nav th:replace="fragments/nav :: navFragment"></nav>

  <div layout:fragment="content"></div>

  <footer th:replace="fragments/footer :: footerFragment"></footer>
</div>
</body>
</html>