<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/defaultLayout}"
>
<head>
    <title>게시판정보</title>
    <script type="module" th:src="@{/dist/board.js}"></script>
</head>

<div layout:fragment="content" id="container">
    <!-- 조회 화면 -->
    <form id="boardViewFrm" name="boardViewFrm">
        <input type="hidden" id="pagePer" name="page_per" th:value="10"/>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <label for="viewUseYn">게시판유형</label>
                        <select class="custom-select rounded-0" id="viewBoardType" name="board_type"></select>
                    </div>
                    <div class="col-3">
                        <label for="viewBoardTitle">게시판명</label>
                        <input type="text" class="form-control" id="viewBoardTitle" name="board_title">
                        <input type="text" class="form-control" style="display: none"> <!-- 엔터 이벤트 오류로 임의로 넣음 -->
                    </div>
                    <div class="col-3">
                        <label for="viewUpdatedNm">작성자명</label>
                        <input type="text" class="form-control" id="viewUpdatedNm" name="updated_nm">
                        <input type="text" class="form-control" style="display: none"> <!-- 엔터 이벤트 오류로 임의로 넣음 -->
                    </div>

                    <div class="col-3">
                        <label for="viewUseYn">사용여부</label>
                        <select class="custom-select rounded-0" id="viewUseYn" name="use_yn"></select>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <div class="row justify-content-end">
                    <div class="col-2">
                        <button type="button" class="btn btn-block btn-success btn-sm" id="writeBtn" data-toggle="modal" data-target="#boardWrite">추가</button>
                    </div>
                    <div class="col-2 ">
                        <button type="button" class="btn btn-block btn-primary btn-sm" id="searchBtn">조회</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- 그리드 영역-->
    <div id="grid"></div>

    <!-- 페이징 영역 -->
    <div id="pagination" class="tui-pagination"></div>

    <!-- 입력화면 (modal) -->
    <form id="boardWriteFrm">
        <div class="modal fade" id="boardWrite">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">게시판 추가</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group row">
                            <div class="col-8">
                                <div class="form-group row">
                                    <div class="col-12">
                                        <label for="writeBoardTitle">* 게시판명</label>
                                        <input type="text" class="form-control" id="writeBoardTitle" name="board_title" placeholder="게시판명을 입력하세요.">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <label for="writeBoardType">* 게시판유형</label>
                                        <select class="custom-select rounded-0" id="writeBoardType" name="board_type"></select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <label for="writeMemo">비고</label>
                                        <input type="text" class="form-control" id="writeMemo" name="memo" placeholder="비고를 입력하세요.">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="card card-secondary" style="min-height: 250px;">
                                            <div class="card-header">
                                                <h3 class="card-title">입력 권한</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="form-group" >
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox" id="writeAuthAll"  value="all">
                                                            <label for="writeAuthAll" class="custom-control-label">전체</label>
                                                        </div>
                                                        <div id="writeAuthArea"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-12 text-lg-center" id="writeMsg"></div>
                        </div>

                        <div class="modal-footer justify-content-end">
                            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                            <button type="button" class="btn btn-primary" id="writeSaveBtn">저장</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- 수정화면 (modal) -->
    <form id="boardEditFrm">
        <div class="modal fade" id="boardEdit">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">게시판 수정</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-8">
                                <div class="form-group row">
                                    <div class="col-12">
                                        <label for="editBoardTitle">* 게시판명</label>
                                        <input type="text" class="form-control" id="editBoardTitle" name="board_title" placeholder="게시판명을 입력하세요.">
                                        <input type="hidden" id="editBoardId" name="board_id">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <label for="editBoardType">게시판유형</label>
                                        <select class="custom-select rounded-0" id="editBoardType" name="board_type"></select>
                                        <input type="hidden" id="editBoardTypeCd">
                                    </div>
                                    <div class="col-6">
                                        <label for="editUseYn">사용여부</label>
                                        <select class="custom-select rounded-0" id="editUseYn" name="use_yn"></select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <label for="editUpdatedNm">작성자</label>
                                        <input type="text" class="form-control" id="editUpdatedNm" name="updated_nm" placeholder="작성자를 입력하세요." readonly>
                                    </div>
                                    <div class="col-6">
                                        <label for="editUpdatedAt">수정일자</label>
                                        <input type="text" class="form-control" id="editUpdatedAt" name="updated_at" placeholder="수정일자를 입력하세요." readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <label for="editMemo">비고</label>
                                        <input type="text" class="form-control" id="editMemo" name="memo" placeholder="비고를 입력하세요.">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="card card-secondary" style="min-height: 250px;">
                                            <div class="card-header">
                                                <h3 class="card-title">입력 권한</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="form-group" >
                                                        <div class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox" id="editAuthAll"  value="all">
                                                            <label for="editAuthAll" class="custom-control-label">전체</label>
                                                        </div>
                                                        <div id="editAuthArea"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-12 text-lg-center" id="editMsg"></div>
                        </div>

                        <div class="modal-footer justify-content-end">
                            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                            <button type="button" class="btn btn-primary" id="editSaveBtn">저장</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

</html>