<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/defaultLayout}"
>
<head>
    <title>게시글정보</title>
    <script type="module" th:src="@{/dist/post.js}"></script>
</head>

<div layout:fragment="content" id="container">
    <!-- 조회 화면 -->
    <form id="postViewFrm" name="postViewFrm">
        <input type="hidden" id="status" th:value="${status}">
        <input type="hidden" id="pagePer" name="page_per" th:value="10"/>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <label for="boardId">게시판</label>
                        <select class="custom-select rounded-0" id="boardId" name="board_id"></select>
                    </div>
                    <div class="col-4">
                        <label>작성일</label>
                        <div id="dateRange"></div>
                    </div>
                    <div class="col-3">
                        <label for="searchStr">게시글제목 / 작성자</label>
                        <input type="text" class="form-control" id="searchStr" name="search_str">
                        <input type="text" class="form-control" style="display: none"> <!-- 엔터 이벤트 오류로 임의로 넣음 -->
                    </div>

                    <div class="col-2">
                        <label for="useYn">사용여부</label>
                        <select class="custom-select rounded-0" id="useYn" name="use_yn"></select>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <div class="row justify-content-end">
                    <div class="col-2">
                        <button type="button" class="btn btn-block btn-success btn-sm" id="writeBtn">게시글 작성</button>
                    </div>
                    <div class="col-2 ">
                        <button type="button" class="btn btn-block btn-primary btn-sm" id="searchBtn">조회</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- 그리드 영역-->
    <div id="grid"></div>

    <!-- 페이징 영역 -->
    <div id="pagination" class="tui-pagination"></div>
</div>
</html>