<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/defaultLayout}"
>
<head>
    <title>게시글보기</title>
    <script type="module" th:src="@{/dist/postView.js}"></script>
</head>

<div layout:fragment="content" id="container">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">게시글 보기</h3>
        </div>

        <form id="postEditViewFrm" name="postEditViewFrm" class="form-horizontal">
            <div class="card-body">
                <input type="hidden" class="form-control" id="postId" name="post_id" th:value="${post_id}">
                <input type="hidden" class="form-control" id="postType" th:value="${post_type}">

                <div class="form-group row">
                    <label for="boardId" class="col-sm-2 col-form-label">게시판</label>
                    <div class="col-sm-6">
                        <select class="custom-select rounded-0" id="boardId" name="board_id"></select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="postTitle" class="col-sm-2 col-form-label">* 제목</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="postTitle" name="post_title" readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="createdNm" class="col-sm-2 col-form-label">작성자 / 수정날짜</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="createdNm" readonly>
                        <input type="hidden" class="form-control" id="createdId">
                    </div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="createdAt"  readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="mainText" class="col-sm-2 col-form-label">본문</label>
                    <textarea id="mainText" name="main_text" style="display: none"></textarea>
                    <div class="col-sm-10">
                        <div id="viewer"></div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row justify-content-end">
                    <div class="col-2">
                        <button type="button" class="btn btn-block btn-default" id="backBtn">돌아가기</button>
                    </div>
                    <div class="col-2" id="updateBtnArea">
                        <button type="button" class="btn btn-block btn-success" id="updateBtn">수정하기</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</html>
