<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/defaultLayout}"
>
<head>
    <title>게시글 작성</title>
    <script type="module" th:src="@{/dist/postWrite.js}"></script>
</head>

<div layout:fragment="content" id="container">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">게시글 작성</h3>
        </div>

        <form id="postWriteFrm" name="postWriteFrm" class="form-horizontal">
            <div class="card-body">
                <div class="form-group row" id="boardKeyDiv">
                    <label for="boardId" class="col-sm-2 col-form-label">* 게시판</label>
                    <input type="hidden" class="form-control" id="boardKey" th:value="${boardKey}">
                    <div class="col-sm-10">
                        <select class="custom-select rounded-0" id="boardId" name="board_idntf_key"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="postTitle" class="col-sm-2 col-form-label">* 제목</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="postTitle" name="post_title" placeholder="제목을 입력하세요.">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="editor" class="col-sm-2 col-form-label">본문</label>
                    <textarea id="postText" name="post_text" style="display: none"></textarea>
                    <div class="col-sm-10">
                        <div id="editor"></div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row justify-content-end">
                    <div class="col-2">
                        <button type="button" class="btn btn-block btn-default" id="backBtn">돌아가기</button>
                    </div>
                    <div class="col-2 ">
                        <button type="button" class="btn btn-block btn-success" id="saveBtn">저장</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</html>