<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/defaultLayout}"
>
<head>
    <title>게시글 보기</title>
    <script type="module" th:src="@{/dist/postView.js}"></script>
</head>

<div layout:fragment="content" id="container">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">게시글 보기</h3>
        </div>

        <form id="postEditViewFrm" name="postEditViewFrm" class="form-horizontal">
            <div class="card-body">
                <div class="form-group row">
                    <label for="boardId" class="col-sm-2 col-form-label">게시판</label>
                    <div class="col-sm-10">
                        <input type="hidden" class="form-control" id="boardKey" th:value="${boardKey}">
                        <input type="hidden" class="form-control" id="boardId" name="board_idntf_key" th:value="${data.board_idntf_key}" value="">
                        <input type="hidden" class="form-control" id="postId" name="post_idntf_key" th:value="${data.post_idntf_key}">
                        <input type="hidden" class="form-control" id="sysRegId" th:value="${data.sys_reg_id}">
                        <input type="text" class="form-control" id="boardTitle" name="board_title" th:value="${data.board_title}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="title" class="col-sm-2 col-form-label">제목</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" name="title" th:value="${data.post_title}" readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="sys_mdfcn_nm" class="col-sm-2 col-form-label">작성자 / 수정날짜</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="sys_mdfcn_nm" th:value="${data.sys_mdfcn_nm}" readonly>
                    </div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="sysMdfcnDtVal" th:value="${data.sys_mdfcn_dt_val}" readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="viewer" class="col-sm-2 col-form-label">본문</label>
                    <textarea id="postText" name="post_text" style="display: none" th:text="${data.post_text}"></textarea>
                    <div class="col-sm-10" style="border: 1px solid #cccccc;min-height: 200px;">
                        <div id="viewer"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="useYn" class="col-sm-2 col-form-label">사용여부</label>
                    <div class="col-sm-2">
                        <select class="custom-select rounded-0" id="useYn" name="use_yn" disabled></select>
                        <input type="hidden" class="form-control" id="use" th:value="${data.use_yn}" readonly>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row justify-content-end">
                    <div class="col-2">
                        <button type="button" class="btn btn-block btn-default" id="backBtn">돌아가기</button>
                    </div>
                    <div class="col-2" id="editBtnArea">
                        <button type="button" class="btn btn-block btn-success" id="editBtn">수정하기</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</html>