<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/defaultLayout}"
>
<head>
    <title>QNA수정</title>

    <script type="module" th:src="@{/dist/qnaEdit.js}"></script>
</head>

<div layout:fragment="content" id="container">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">QNA수정</h3>
        </div>

        <form id="qnaEditFrm" name="qnaEditFrm" class="form-horizontal">
            <div class="card-body">
                <div class="form-group row" style="display: none">
                    <label for="boardId" class="col-sm-1 col-form-label">게시판</label>
                    <div class="col-sm-5">
                        <select class="custom-select rounded-0" id="boardId" name="boardId"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="qnaTitle" class="col-sm-1 col-form-label">제목</label>
                    <div class="col-sm-11">
                        <input type="text" class="form-control" id="qnaTitle" name="qnaTitle" placeholder="제목을 입력하세요.">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="createdNm" class="col-sm-1 col-form-label">작성자</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="createdNm" readonly>
                    </div>
                    <label for="createdNm" class="col-sm-1 col-form-label">작성일</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="createdAt" readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="responseYnNm" class="col-sm-1 col-form-label">답변여부</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="responseYnNm" readonly>
                    </div>
                    <label for="responseNm" class="col-sm-1 col-form-label">답변자</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="responseNm" readonly>
                    </div>
                    <label for="responseAt" class="col-sm-1 col-form-label">답변일</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="responseAt" readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="hiddenYn" class="col-sm-1 col-form-label">공개여부</label>
                    <div class="col-sm-3">
                        <select class="custom-select rounded-0" id="hiddenYn" name="hiddenYn"></select>
                    </div>
                    <div class="col-sm-3">
                        <input type="password" class="form-control" id="qnaPw" name="qnaPw" placeholder="비밀번호를 입력하세요."
                               style="display: none">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="questions" class="col-sm-1 col-form-label">문의</label>
                    <textarea id="questions" name="questions" style="display: none"></textarea>
                    <div class="col-sm-10">
                        <div id="editor"></div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="mainText" class="col-sm-1 col-form-label">답변</label>
                    <textarea id="mainText" style="display: none"></textarea>
                    <div class="col-sm-10">
                        <div id="viewer"></div>
                    </div>
                </div>

                <input type="hidden" class="form-control" id="qnaId" name="qnaId" th:value="${qnaId}">
                <input type="hidden" class="form-control" id="useYn" name="useYn">
            </div>
            <div class="card-footer">
                <div class="row justify-content-end">
                    <div class="col-2">
                        <button type="button" class="btn btn-block btn-default" id="backBtn">뒤로가기</button>
                    </div>
                    <div class="col-2 ">
                        <button type="button" class="btn btn-block btn-danger" id="deleteBtn">삭제</button>
                    </div>
                    <div class="col-2 ">
                        <button type="button" class="btn btn-block btn-success" id="saveBtn">저장</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</html>
