<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/defaultLayout}"
>
<head>
    <title>QNA정보</title>
    <script type="module" th:src="@{/dist/qnaPage.js}"></script>
</head>

<div layout:fragment="content" id="container">
    <!-- 조회 화면 -->
    <form id="qnaFrm" name="qnaFrm">
        <input type="hidden" id="boardId" name="boardId" th:value="${boardId}">
        <input type="hidden" id="status" th:value="${status}">
        <input type="hidden" id="size" name="size" th:value="10"/>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <label for="qnaTitle">게시글제목</label>
                        <input type="text" class="form-control" id="qnaTitle" name="qnaTitle">
                        <input type="text" class="form-control" style="display: none"> <!-- 엔터 이벤트 오류로 임의로 넣음 -->
                        <input type="hidden" id="useYn" name="useYn" th:value="Y">
                    </div>
                    <div class="col-4">
                        <label>작성일</label>
                        <div id="dateRange"></div>
                    </div>
                    <div class="col-4">
                        <label for="createdNm">작성자</label>
                        <input type="text" class="form-control" id="createdNm" name="created_nm">
                        <input type="text" class="form-control" style="display: none"> <!-- 엔터 이벤트 오류로 임의로 넣음 -->
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <div class="row justify-content-end">
                    <div class="col-2">
                        <button type="button" class="btn btn-block btn-success btn-sm" id="writeBtn">QNA작성</button>
                    </div>
                    <div class="col-2 ">
                        <button type="button" class="btn btn-block btn-primary btn-sm" id="searchBtn">조회</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- 그리드 영역-->
    <div id="grid"></div>

    <!-- 페이징 영역 -->
    <div id="pagination" class="tui-pagination"></div>
</div>
</html>
