<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="navFragment">
    <form id="navFrm">
        <input type="hidden" id="menuId"/>
        <input type="hidden" id="menuNm"/>
        <input type="hidden" id="prnMenuId"/>
        <input type="hidden" id="prnMenuNm"/>
        <input type="hidden" id="url"/>
    </form>

    <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: #101829">

            <a href="javascript:" class="brand-link" style="text-align: center;" id="menuUrl">
                <div style="display: flex;">
                    <div id="logo"></div>
                    <span style="padding: 10px;">관리자 템플릿</span>
                </div>
            </a>

        <div class="sidebar">
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" id="navUl">
                </ul>
            </nav>
        </div>
    </aside>
</nav>
</html>
