<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/defaultLayout}"
>
<head>
    <title>마스터DB 상세</title>
    <script type="module" th:src="@{/dist/masterDetail.js}"></script>
</head>

<div layout:fragment="content" id="container">
    <div class="row justify-content-end" style="padding-bottom: 10px;">
        <div class="col-2 ">
            <button type="button" class="btn btn-block btn-primary btn-sm" id="backBtn">돌아가기</button>
        </div>
    </div>
    <form id="masterFrm" name="masterFrm">
        <input type="hidden" id="msKey" th:value="${mast_key}"/>
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">마스터 정보</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <label for="mastKey">마스터아이디</label>
                        <input type="text" class="form-control" id="mastKey" readonly>
                    </div>
                    <div class="col-3">
                        <label for="shopNm">매장명</label>
                        <input type="text" class="form-control" id="shopNm" readonly>
                    </div>
                    <div class="col-3">
                        <label for="brno">사업자등록번호</label>
                        <input type="text" class="form-control" id="brno" readonly>
                    </div>
                    <div class="col-3">
                        <label for="svcCd">활동여부</label>
                        <select class="custom-select rounded-0" id="mastActvYn" disabled></select>
                    </div>
                </div>

                <div class="row" style="padding-top: 10px;">
                    <div class="col-3">
                        <label for="svcCd">서비스여부</label>
                        <select class="custom-select rounded-0" id="svcCd" name="svc_cd"></select>
                    </div>
                    <div class="col-9">
                        <label for="shopAddr">주소</label>
                        <input type="text" class="form-control" id="shopAddr" readonly>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row justify-content-end" style="padding-bottom: 10px;">
        <div class="col-2">
            <button type="button" class="btn btn-block btn-success btn-sm" id="saveBtn">저장하기</button>
        </div>
    </div>
    <!-- 그리드 영역-->
    <div id="grid"></div>

</div>

</html>