<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/defaultLayout}"
>
<head>
    <title>계열사별 매장정보</title>
    <script type="module" th:src="@{/dist/shopDetail.js}"></script>
</head>

<div layout:fragment="content" id="container">
    <div class="row justify-content-end" style="padding-bottom: 10px;">
        <div class="col-2 ">
            <button type="button" class="btn btn-block btn-secondary btn-sm" id="topBackBtn">돌아가기</button>
        </div>
    </div>
    <form id="frm" name="frm">
        <input type="hidden" name="idntf_key" th:value="${idntf_key}"/>
        <input type="hidden" name="corp_svc_cd" th:value="${corp_svc_cd}"/>
        <input type="hidden"name="mast_key" th:value="${mast_key}"/>
    </form>

    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title">마스터 정보</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <label for="msMastKey">마스터아이디</label>
                    <input type="text" class="form-control" id="msMastKey" readonly>
                </div>
                <div class="col-3">
                    <label for="msShopNm">매장명</label>
                    <input type="text" class="form-control" id="msShopNm" readonly>
                </div>
                <div class="col-3">
                    <label for="msBrno">사업자등록번호</label>
                    <input type="text" class="form-control" id="msBrno" readonly>
                </div>
                <div class="col-3">
                    <label for="msSvcCd">활동여부</label>
                    <select class="custom-select rounded-0" id="msMastActvYn" disabled></select>
                </div>
            </div>

            <div class="row" style="padding-top: 10px;">
                <div class="col-3">
                    <label for="msSvcCd">서비스여부</label>
                    <select class="custom-select rounded-0" id="msSvcCd" name="svc_cd" disabled></select>
                </div>
                <div class="col-9">
                    <label for="msShopAddr">주소</label>
                    <input type="text" class="form-control" id="msShopAddr" readonly>
                </div>
            </div>
        </div>
    </div>


    <div class="row justify-content-end" style="padding: 15px 0px;border-top: 1px solid #ced6dd;">
        <div class="col-2 ">
            <button type="button" class="btn btn-block btn-info btn-sm" id="shopSaveBtn">저장하기</button>
        </div>
    </div>

    <form id="shopFrm" name="shopFrm">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">매장 정보</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <label for="idntfKey">식별키</label>
                        <input type="text" class="form-control" id="idntfKey" name="idntf_key" readonly>
                    </div>
                    <div class="col-3">
                        <label for="corpSvcNm">계열사서비스</label>
                        <input type="text" class="form-control" id="corpSvcNm" name="corp_svc_nm" readonly>
                        <input type="hidden" class="form-control" id="corpSvcCd" name="corp_svc_cd">
                    </div>
                    <div class="col-3">
                        <label for="shopNm">매장명</label>
                        <input type="text" class="form-control" id="shopNm" name="shop_nm">
                    </div>
                    <div class="col-3">
                        <label for="brno">사업자등록번호</label>
                        <input type="text" class="form-control" id="brno" name="brno">
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-8">
                        <label for="shopAddr">주소</label>
                        <input type="text" class="form-control" id="shopAddr"  name="shop_addr">
                    </div>
                    <div class="col-4">
                        <label for="shopDaddr">상세주소</label>
                        <input type="text" class="form-control" id="shopDaddr"  name="shop_daddr">
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-3">
                        <label for="shopStCd">매장상태</label>
                        <select class="custom-select rounded-0" id="shopStCd" name="shop_st_cd"></select>
                    </div>
                    <div class="col-3">
                        <label for="shopTelno">전화번호</label>
                        <input type="text" class="form-control" id="shopTelno" name="shop_telno" >
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col-9">
                                <label for="shopCtrtBgngYmdDiv">계약시작일자</label>
                                <div id="shopCtrtBgngYmdDiv"></div>
                            </div>
                            <div class="col-3" style="padding-top: 35px;">
                                <button type="button" class="btn btn-block btn-danger btn-sm" id="shopCtrtBgngYmdDel">삭제</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col-9">
                                <label for="shopCtrtEndYmdDiv">계약종료일자</label>
                                <div id="shopCtrtEndYmdDiv"></div>
                            </div>
                            <div class="col-3" style="padding-top: 35px;">
                                <button type="button" class="btn btn-block btn-danger btn-sm" id="shopCtrtEndYmdDel">삭제</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-3">
                        <label for="agnCd">대리점코드</label>
                        <input type="text" class="form-control" id="agnCd" name="agn_cd">
                    </div>
                    <div class="col-3">
                        <label for="agnNm">대리점명</label>
                        <input type="text" class="form-control" id="agnNm" name="agn_nm" readonly>
                    </div>
                    <div class="col-3">
                        <label for="prnAgnCd">모대리점코드</label>
                        <input type="text" class="form-control" id="prnAgnCd" name="prn_agn_cd">
                    </div>
                    <div class="col-3">
                        <label for="prnAgnNm">모대리점명</label>
                        <input type="text" class="form-control" id="prnAgnNm" name="prn_agn_nm" readonly>
                    </div>
                </div>

                <div class="row" style="padding-top: 10px;">
                    <div class="col-3">
                        <label for="trmDiv">단말기구분</label>
                        <select class="custom-select rounded-0" id="trmDiv" name="trm_div"></select>
                    </div>
                    <div class="col-3">
                        <label for="trmStCd">단말기상태</label>
                        <select class="custom-select rounded-0" id="trmStCd" name="trm_st_cd"></select>
                    </div>
                    <div class="col-3">
                        <label for="srvDiv">서비스구분</label>
                        <select class="custom-select rounded-0" id="srvDiv" name="srv_div"></select>
                    </div>
                    <div class="col-3">
                        <label for="shopBizNm">사업자명</label>
                        <input type="text" class="form-control" id="shopBizNm" name="shop_biz_nm" >
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-3">
                        <label for="shopStCd">VAN사</label>
                        <select class="custom-select rounded-0" id="vanCd" name="van_cd"></select>
                    </div>
                    <div class="col-3">
                        <label for="shopFrstRegDt">최초등록일시</label>
                        <input type="text" class="form-control" id="shopFrstRegDt" name="shop_frst_reg_dt" readonly >
                    </div>
                    <div class="col-3">
                        <label for="shopLastMdfcnDt">최근수정일시</label>
                        <input type="text" class="form-control" id="shopLastMdfcnDt" name="shop_last_mdfcn_dt" readonly>
                    </div>
                    <div class="col-3">
                        <label for="delYnNm">삭제여부</label>
                        <input type="text" class="form-control" id="delYnNm" name="del_yn_nm" readonly>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row justify-content-end" style="padding: 15px 0px;border-top: 1px solid #ced6dd;">
        <div class="col-2 ">
            <button type="button" class="btn btn-block btn-danger btn-sm" id="trmSaveBtn">저장하기</button>
        </div>
    </div>

    <form id="trmFrm" name="trmFrm">
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title">단말기 정보</h3>
            </div>
            <div class="card-body">
                <div class="row justify-content-end" style="padding-bottom: 10px;">
                    <div class="col-2 ">
                        <button type="button" class="btn btn-block btn-success btn-sm" id="trmAddBtn">추가</button>
                    </div>
                    <div class="col-2 ">
                        <button type="button" class="btn btn-block btn-secondary btn-sm" id="trmDelBtn">삭제</button>
                    </div>
                </div>
                <!-- 그리드 영역-->
                <div id="grid"></div>
            </div>
        </div>
    </form>

    <div class="row justify-content-end" style="padding: 15px 0px;border-top: 1px solid #ced6dd;">
        <div class="col-2 ">
            <button type="button" class="btn btn-block btn-warning btn-sm" id="txSaveBtn">저장하기</button>
        </div>
    </div>

    <form id="txFrm" name="txFrm">
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">거래실적(매출)정보</h3>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <label for="txYm">거래실적연월</label>
                        <select class="custom-select rounded-0" id="txYm" name="tx_ym"></select>
                        <input type="hidden" class="form-control" id="txCorpSvcCd" name="corp_svc_cd">
                        <input type="hidden" class="form-control" id="txIdntfKey" name="idntf_key">
                    </div>
                </div>
                <div id="txDivUseY">
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-4">
                            <label for="txSlsDayCnt">거래영업일수</label>
                            <input type="text" class="form-control" id="txSlsDayCnt" name="tx_sls_day_cnt">
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-9">
                                    <label for="txBgngYmdDiv">해당월거래실적시작일자</label>
                                    <div id="txBgngYmdDiv"></div>
                                </div>
                                <div class="col-3" style="padding-top: 35px;">
                                    <button type="button" class="btn btn-block btn-danger btn-sm" id="txBgngYmdDel">삭제</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-9">
                                    <label for="txLastYmdDiv">해당월거래실적종료일자</label>
                                    <div id="txLastYmdDiv"></div>
                                </div>
                                <div class="col-3" style="padding-top: 35px;">
                                    <button type="button" class="btn btn-block btn-danger btn-sm" id="txLastYmdDel">삭제</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding-top: 10px;">
                        <div class="col-3">
                            <label for="txAprvCnt">거래승인건수</label>
                            <input type="text" class="form-control" id="txAprvCnt" name="tx_aprv_cnt" >
                        </div>
                        <div class="col-3">
                            <label for="txAprvAmt">거래승인금액</label>
                            <input type="text" class="form-control" id="txAprvAmt" name="tx_aprv_amt"  >
                        </div>
                        <div class="col-3">
                            <label for="txCnclCnt">거래취소건수</label>
                            <input type="text" class="form-control" id="txCnclCnt" name="tx_cncl_cnt"  >
                        </div>
                        <div class="col-3">
                            <label for="txCnclAmt">거래취소금액</label>
                            <input type="text" class="form-control" id="txCnclAmt" name="tx_cncl_amt"  >
                        </div>
                    </div>

                    <div class="row" style="padding-top: 10px;">
                        <div class="col-3">
                            <label for="txFailCnt">거래실패건수</label>
                            <input type="text" class="form-control" id="txFailCnt" name="tx_fail_cnt" >
                        </div>
                        <div class="col-3">
                            <label for="txFailAmt">거래실패금액</label>
                            <input type="text" class="form-control" id="txFailAmt" name="tx_fail_amt" >
                        </div>
                        <div class="col-3">
                            <label for="txCashCnt">현금건수</label>
                            <input type="text" class="form-control" id="txCashCnt" name="tx_cash_cnt" >
                        </div>
                        <div class="col-3">
                            <label for="txCashAmt">현금금액</label>
                            <input type="text" class="form-control" id="txCashAmt" name="tx_cash_amt" >
                        </div>
                    </div>

                    <div class="row" style="padding-top: 10px;">
                        <div class="col-3">
                            <label for="txRcptCnt">현금영수증건수</label>
                            <input type="text" class="form-control" id="txRcptCnt" name="tx_rcpt_cnt" >
                        </div>
                        <div class="col-3">
                            <label for="txRcptAmt">현금영수증금액</label>
                            <input type="text" class="form-control" id="txRcptAmt" name="tx_rcpt_amt">
                        </div>
                        <div class="col-3">
                            <label for="txCardCnt">신용카드건수</label>
                            <input type="text" class="form-control" id="txCardCnt" name="tx_card_cnt">
                        </div>
                        <div class="col-3">
                            <label for="txCardAmt">신용카드금액</label>
                            <input type="text" class="form-control" id="txCardAmt" name="tx_card_amt">
                        </div>
                    </div>

                    <div class="row" style="padding-top: 10px;">
                        <div class="col-3">
                            <label for="txEasyCnt">간편결제(카드연동형)건수</label>
                            <input type="text" class="form-control" id="txEasyCnt" name="tx_easy_cnt">
                        </div>
                        <div class="col-3">
                            <label for="txEasyAmt">간편결제(카드연동형)금액</label>
                            <input type="text" class="form-control" id="txEasyAmt" name="tx_easy_amt" >
                        </div>
                        <div class="col-3">
                            <label for="txEtcCnt">기타건수</label>
                            <input type="text" class="form-control" id="txEtcCnt" name="tx_etc_cnt" >
                        </div>
                        <div class="col-3">
                            <label for="txEtcAmt">기타금액</label>
                            <input type="text" class="form-control" id="txEtcAmt" name="tx_etc_amt" >
                        </div>
                    </div>

                    <div class="row" style="padding-top: 10px;">
                        <div class="col-3">
                            <label for="pkgNtslCnt">포장판매건수</label>
                            <input type="text" class="form-control" id="pkgNtslCnt" name="pkg_ntsl_cnt" >
                        </div>
                        <div class="col-3">
                            <label for="pkgNtslAmt">포장판매금액</label>
                            <input type="text" class="form-control" id="pkgNtslAmt" name="pkg_ntsl_amt">
                        </div>
                        <div class="col-3">
                            <label for="dlvrNtslCnt">배달판매건수</label>
                            <input type="text" class="form-control" id="dlvrNtslCnt" name="dlvr_ntsl_cnt">
                        </div>
                        <div class="col-3">
                            <label for="dlvrNtslAmt">배달판매금액</label>
                            <input type="text" class="form-control" id="dlvrNtslAmt" name="dlvr_ntsl_amt">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row justify-content-end">
        <div class="col-2 ">
            <button type="button" class="btn btn-block btn-warning btn-sm" id="bottomBackBtn">돌아가기</button>
        </div>
    </div>

</div>

</html>