<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin Template</title>
    <script type="module" th:src="@{/dist/config.js}"></script>
    <script type="module" th:src="@{/dist/login.js}"></script>
    <link rel="stylesheet" th:href="@{/lib/tmpl/dist/css/adminlte.min.css}"/>
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="#" class="h1"><b>관리자 템플릿</b></a>
        </div>

        <div class="card-body">
            <p class="login-box-msg">로그인</p>

            <form name="frm" id="frm">
                <input type="hidden" id="apiUrl" th:value="${apiUrl}"/>
                <input type="hidden" name="login_device" id="loginDevice"/>
                <input type="hidden" name="device_browser" id="deviceBrowser"/>
                <input type="hidden" name="url" id="url"/>

                <div class="input-group mb-3">
                    <label for="loginId"></label>
                    <input type="text" class="form-control" name="login_id" id="loginId" placeholder="아이디"/>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label for="userPw"></label>
                    <input type="password" class="form-control" name="user_pw" id="userPw" placeholder="비밀번호"/>

                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="idSaveCheck" />
                            <label for="idSaveCheck">
                                아이디 기억하기
                            </label>
                        </div>
                    </div>
                    <div class="col-4">
                        <button
                            type="button"
                            class="btn btn-primary btn-block"
                            id="loginBtn"
                        >
                            로그인
                        </button>
                    </div>
                </div>
            </form>

            <div class="form-group row" style="margin: 5px;">
                <div class="col-12 text-lg-center" id="msg"></div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
