<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin Template</title>
    <script type="module" th:src="@{/dist/config.js}"></script>
    <script type="module" th:src="@{/dist/pwChange.js}"></script>
    <link rel="stylesheet" th:href="@{/lib/tmpl/dist/css/adminlte.min.css}"/>
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="#" class="h1"><b>관리자 템플릿</b></a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">비밀번호 변경</p>
            <form name="frm" id="frm" method="POST">
                <!-- 페이지 이동을 위해 url 필드 넣음 -->
                <input type="hidden" name="url" id="url"/>
                <div class="input-group mb-3">
                    <label for="userPw"></label>
                    <input type="password" name="user_pw" id="userPw" class="form-control" placeholder="비밀번호"/>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label for="userPwRe"></label>
                    <input type="password" id="userPwRe" class="form-control" placeholder="비밀번호 재입력"/>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3" style="height: 15px">
                    <span id="msg"></span>
                </div>

                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-secondary btn-block" id="backBtn">
                            돌아가기
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary btn-block" id="updateBtn">
                            등록
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
