<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/defaultLayout}"
>
<head>
    <title>메뉴별권한정보</title>
    <script type="module" th:src="@{/dist/menuAuth.js}"></script>
</head>

<div layout:fragment="content" id="container">
    <form name="menuFrm">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <select class="custom-select rounded-0" id="authRole" name="auth_role"></select>

                        <div id="tree" class="tui-tree-wrap" style="width: 100%;"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <div class="row justify-content-end">
                            <div class="col-3">
                                <button type="button" class="btn btn-block btn-success btn-sm" id="saveBtn">저장</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="guide-word">* 상위 메뉴를 추가하거나 삭제할때, 하위 메뉴 권한에 영향을 줍니다.</p>
                        <input type="hidden" id="menuId"/>
                        <div id="grid"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

</html>