#msg {
    color : red;
}

#container {
    padding: 10px;
    overflow-x:hidden;
}

.card-body iframe{
    border: 0;
    width: 100%;
    overflow-x:hidden;
    overflow-y:hidden;
    overflow:auto;
    width:100%;
    min-height:800px;
    padding: 10px ;
}

.logout {
    text-decoration: underline;
    color: #0f6674;
}

.form-group label {
    margin-bottom: 10px;
}

.guide-word {
    font-size: 0.8em;
    margin: 10px;
    color: #dc3545;
}

#dataPicker1 {
    width: 45%;
    height: calc(2.25rem + 2px);
    border: 1px solid #ced4da;
}
#dataPicker2 {
    width: 45%;
    height: calc(2.25rem + 2px);
    border: 1px solid #ced4da;
}
.tui-datepicker-input * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 100;
}

.tui-datepicker {
    z-index: 99;
}

.tui-datepicker-input.tui-has-focus {
    width: 100%;
    height: calc(2.25rem + 2px);
}

.login {
    background: #101829;
}

#viewer, #viewer2{
    border: 1px solid #cccccc;
    padding: 5px;
    min-height: 200px;
}

