<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/defaultLayout}"
>
<head>
    <title>이력관리 상세</title>
    <script type="module" th:src="@{/dist/dtHisDetail.js}"></script>
</head>

<div layout:fragment="content" id="container">
    <div class="row justify-content-end" style="padding-bottom: 10px;">
        <div class="col-2 ">
            <button type="button" class="btn btn-block btn-warning btn-sm" id="refreshBtn">다시조회</button>
        </div>
        <div class="col-2 ">
            <button type="button" class="btn btn-block btn-primary btn-sm" id="backBtn">돌아가기</button>
        </div>
    </div>
    <form id="frm" name="frm">
        <input type="hidden" id="dtGbCdKey" name="dt_gb_cd" th:value="${dtGbCd}"/>
        <input type="hidden" id="fileNmKey" name="file_nm" th:value="${fileNm}"/>
        <input type="hidden" id="strtDtKey" name="strt_dt" th:value="${strt_dt}"/>

        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title" th:if="${dtGbCd == 'C'}">수집이력</h3>
                <h3 class="card-title" th:if="${dtGbCd == 'R'}">정제이력</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <label for="fileNm">파일명</label>
                        <input type="text" class="form-control" id="fileNm" readonly>
                    </div>
                    <div class="col-4">
                        <label for="corpSvcCd">계열사서비스코드</label>
                        <select class="custom-select rounded-0" id="corpSvcCd" disabled></select>
                    </div>
                </div>

                <div class="row" style="padding-top: 10px;">
                    <div class="col-4">
                        <label for="infoLineYmd">정보기준일자</label>
                        <input type="text" class="form-control" id="infoLineYmd" readonly>
                    </div>

                    <div class="col-4">
                        <label for="strtDt">시작일시</label>
                        <input type="text" class="form-control" id="strtDt" readonly>
                    </div>
                    <div class="col-4">
                        <label for="endDt">종료일시</label>
                        <input type="text" class="form-control" id="endDt" readonly>
                    </div>
                </div>

                <div class="row" style="padding-top: 10px;">
                    <div class="col-4">
                        <label for="stCd">상태코드</label>
                        <select class="custom-select rounded-0" id="stCd" disabled></select>
                    </div>
                    <div class="col-4">
                        <label for="grdCd">단계코드</label>
                        <select class="custom-select rounded-0" id="grdCd" disabled></select>
                    </div>
                    <div class="col-4">
                        <label for="dbCd">디비코드</label>
                        <select class="custom-select rounded-0" id="dbCd" disabled></select>
                    </div>
                </div>

                <div th:if="${dtGbCd == 'C'}">
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-4">
                            <label for="dtTmplCd">템플릿코드</label>
                            <select class="custom-select rounded-0" id="dtTmplCd" disabled></select>
                        </div>
                        <div class="col-4">
                            <label for="dtFileCnt">파일건수</label>
                            <input type="text" class="form-control" id="dtFileCnt" readonly>
                        </div>
                        <div class="col-4">
                            <label for="dtTpTbClCnt">임시테이블적재건수</label>
                            <input type="text" class="form-control" id="dtTpTbClCnt" readonly>
                        </div>
                    </div>

                    <div class="row" style="padding-top: 10px;">
                        <div class="col-4">
                            <label for="dtInsTbClCnt">입력테이블적재건수</label>
                            <input type="text" class="form-control" id="dtInsTbClCnt" readonly>
                        </div>
                        <div class="col-4">
                            <label for="dtUptTbClCnt">수정테이블적재건수</label>
                            <input type="text" class="form-control" id="dtUptTbClCnt" readonly>
                        </div>
                        <div class="col-4">
                            <label for="dtDelTbClCnt">삭제테이블적재건수</label>
                            <input type="text" class="form-control" id="dtDelTbClCnt" readonly>
                        </div>
                    </div>

                    <div class="row" style="padding-top: 10px;">
                        <div class="col-8">
                            <label for="dtTbNm">테이블명</label>
                            <input type="text" class="form-control" id="dtTbNm" readonly>
                        </div>
                        <div class="col-4">
                            <label for="dtFileSeq">파일시퀀스</label>
                            <input type="text" class="form-control" id="dtFileSeq" readonly>
                        </div>
                    </div>
                </div>

                <div th:if="${dtGbCd == 'R'}">
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-3">
                            <label for="rfTpTbClCnt">임시테이블적재건수</label>
                            <input type="text" class="form-control" id="rfTpTbClCnt" readonly>
                        </div>
                        <div class="col-3">
                            <label for="tpRfHisCnt">임시정제이력건수</label>
                            <input type="text" class="form-control" id="tpRfHisCnt" readonly>
                        </div>
                        <div class="col-3">
                            <label for="rfCmplCnt">정제완료건수</label>
                            <input type="text" class="form-control" id="rfCmplCnt" readonly>
                        </div>
                        <div class="col-3">
                            <label for="shopMapInputCnt">가맹점매핑입력건수</label>
                            <input type="text" class="form-control" id="shopMapInputCnt" readonly>
                        </div>
                    </div>

                    <div class="row" style="padding-top: 10px;">
                        <div class="col-3">
                            <label for="shopMapMstCnt">가맹점매핑건수(마스터)</label>
                            <input type="text" class="form-control" id="shopMapMstCnt" readonly>
                        </div>
                        <div class="col-3">
                            <label for="shopMapMstSubCnt">가맹점매핑건수(연계)</label>
                            <input type="text" class="form-control" id="shopMapMstSubCnt" readonly>
                        </div>
                        <div class="col-3">
                            <label for="shopMapMstHisCnt">가맹점매핑건수(이력)</label>
                            <input type="text" class="form-control" id="shopMapMstHisCnt" readonly>
                        </div>
                        <div class="col-3">
                            <label for="valCnt">고유키중복건수</label>
                            <input type="text" class="form-control" id="dupCnt" readonly>
                        </div>
                    </div>

                    <div class="row" style="padding-top: 10px;">
                        <div class="col-3">
                            <label for="valCnt">검증건수</label>
                            <input type="text" class="form-control" id="valCnt" readonly>
                        </div>
                        <div class="col-3">
                            <label for="rfTmplCd">템플릿코드</label>
                            <select class="custom-select rounded-0" id="rfTmplCd" disabled></select>
                        </div>
                        <div class="col-3">
                            <label for="rfTbNm">테이블명</label>
                            <input type="text" class="form-control" id="rfTbNm" readonly>
                        </div>
                        <div class="col-3">
                            <label for="rfFileSeq">파일시퀀스</label>
                            <input type="text" class="form-control" id="rfFileSeq" readonly>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding: 10px;">
                    <label for="wrkDtlLog">작업상세로그</label>
                    <textarea class="form-control" rows="5" id="wrkDtlLog" disabled></textarea>
                </div>
            </div>
        </div>
    </form>
</div>

</html>